ul {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

li {
  width: 90px;
  height: 90px;
  font-size: 75px;
  font-family: "Arial", sans-serif;
  background-color: pink;
  margin: 5px;
  list-style: none;
  text-align: center;
}
