.container{
 display: grid;
 grid-template-columns: 300px 300px 300px;
 grid-template-rows: 250px 600px;
 border: 7px solid black;
 grid-template-areas:
 "hd"
 "sd"
 "main"
 "ft";
}

.box {
 border: 1px solid silver;
 background: goldenrod;
}

.header {
 grid-area: hd;
}

.sidebar {
 grid-area: sd;
}

.content {
 grid-area: main;
}

.footer {
 grid-area: ft;
}

