.container {
 display: grid;
 grid-template-columns: 300px 300px 300px;
 grid-template-rows: 250px 600px;
 grid-template-areas:
 "hd"
 "feat"
 "main"
 "ft";
 border: 7px solid black;
}
.box {
 width: 100%;
 border: 1px solid silver;
 background: goldenrod;
}
.header {
 grid-area: hd;
}
.feature {
 grid-area: feat;
}
.content {
 grid-area: main;
}
.footer {
 grid-area: ft;
}

/* if screen is wide enough */
@media (min-width: 900px) {
 .container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 250px 600px;
  grid-template-areas:
  "hd hd hd hd hd hd hd hd"
  "feat feat feat feat feat feat feat feat"
  "main main main main main main main main"
  "ft ft ft ft ft ft ft ft";
  border: 2px solid black;
 }
}